<a href="<%= option_yml.filename %>"><%= option_yml.label %></a>
<ul class="menu">
<% option_yml.subitems.each do |subitem| %>
    <li><a href="<%= option_yml.filename %>#<%= subitem.section %>"><%= subitem.label %></a></li>
<% end %>
</ul>
