---
title: Jake McCann - Resume
page_name: Resume
---

<div class="resume-section">
    <h3 class="page-subsection">Education</h3>
    <div class="resume-section-content">
    <% data.resume_sections.education.lines.each do |line| %>
        <div class="content-meat">
            <%= line %>
        </div>
    <% end %>
    </div>
</div>

<div class="resume-section">
    <h3 class="page-subsection">Skills</h3>
    <div class="resume-section-content">
    <% data.resume_sections.skills.sections.each do |section| %>
    <div>
        <span class="content-header"><b> <%= section.label %></b>: </span>
        <span class="content-meat"> 
        <%= section.content.join ", " %>
        </span>
    </div>
    <% end %>
    </div>
</div>

<div class="resume-section">
    <h3 class="page-subsection">Work Experience</h3>
    <div class="resume-section-content">
    <% data.resume_sections.work_exp.jobs.each do |job| %>
        <div class="content-header"><b><%= job.title %></b></div>
        <ul>
        <% job.lines.each do |line| %>
            <li class="content-meat"><%= line %></li>
        <% end %>
        </ul>
    <% end %>
    </div>
</div>


